ul.pagination {
    font-size: 120%;
    display: inline-block;
    margin-bottom: 1em;
}

ul.pagination li {
    display: inline;
}

td.shrink {
    white-space: nowrap;
    width: 1px;
}

a.title:hover {
    color: #4a4a4a;
}

a[disabled] {
    pointer-events: none;
}

.login-hr {
    margin-top: 2.25rem;
    margin-bottom: 0.75rem;
}